html, body { height: 100%; }

body {
  min-width: @pageWidth + @colSpace * 2;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: @altFontFamily;
  font-weight: 200;
}

#content {
  background: @backgroundColor repeat url('@{imagesLocation}bgnoise.png');
// Necessary for sticky footer
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footerHeight;

  &:after {
    .clear-floats();
    height: @footerHeight;
  }
}

.announcement a {
  display: block;
  background-color: @commCareBlue;
  color: @white;
  padding: .3em 0;
  margin: 0;
  text-decoration: none;
  > span {
    display: block;
    width: @pageWidth;
    margin: 0 auto;
    text-align: right;
    small {
      padding-left: @colSpace;
    }
  }
  strong {
    text-transform: uppercase;
    font-size: 0.85em;
    padding-right: @colSpace;
    padding-top: 1px;
    color: rgba(255,255,255, 0.9);
    float: left;
  }
  &:first-child {
    margin-top:1px;
  }
  &:nth-child(2) {
    background-color: desaturate(lighten(@commCareBlue, 20), 30);
  }
  &:hover {
    background-color: @commCareGray;
  }
  &:only-child,
  &:last-child {
    margin-bottom: 1px;
  }
}

