<li class="dropdown<% if (@is_active) %> selected<% end %>">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%=@title%>
    <i class="icon-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-dark">
    <%=@menu%>
  </ul>
</li>