<div class="article-header">
	<hgroup class="container">
		<h1><% if (@item[:headline]) %><%= @item[:headline] %><% else %><%= @item[:title] %><% end %></h1>
		<% if (@item[:tagline]) %><h2><%= @item[:tagline] %></h2><% end %>
	</hgroup>
</div>
<div class="container">
	<%= yield %>
</div>