#services {

  .article-header {
    h1 {
      font-size: @baseFontSize * 2.3;
      padding-top: 39px;
      margin: 0;
    }
    h2 {
      font-size: @baseFontSize * 1.6;
      line-height: @baseLineHeight * 1.6;
      margin: 0;
    }
  }

  section {
    p.pull-right img {
      margin-left: @gridGutterWidth;
      .box-shadow(0 0 4px rgba(0, 0, 0, 0.3));
      border: 4px solid @white;
    }
  }
  
  .table-pricing {
    .edition {
      width:150px;
      > div {   
        width: 170px;
      }
    }
  }

  .service-plans {
    list-style: none;
    margin: 0;
    width: 950px;
    padding-bottom: @gridGutterWidth*2;
    .clearfix();

    h3 { margin-bottom: 0; }
    h4 { margin-top: 0; }

    li {
      .makeColumn(4);
      vertical-align: top;
      margin-left: @colSpace*2;
      &:first-child {
          margin-left: 0;
      }
    }
  }
}

